@import "~bootstrap/scss/bootstrap";

.app-container {
  height: 100vh;
  width: 100vw;
}

.navbar-wrapper {
  background: #e9eef5;
  .navbar {
    .brand {
      .brand-icon {
        font-size: 24px;
        color: darkblue;
        margin: 0 10px 0 0;
      }
    }
  }
}