body.dark-mode {
  .modal-content {
    border: 4px solid $primary;
    background: #0f172b;
    color: #fff;

    .card {
      background: #1e293b;
      border: 2px solid #fff;
    }

    .btn-link, .text-muted {
      color: #fff;
    }
  
    .form-control, .rich-text-editor {
      background: #475569;
      color: #fff;
    }

    a:focus, .btn:focus, .form-control:focus, .form-check input:focus {
      outline: 2px solid #fff;
    }

    .spinner-wrapper .spinner-icon {
      color: #fff;
    }
  }
}

.app-container {
  &.dark-mode {
    background: #475569;
    color: #fff;

    .spinner-wrapper .spinner-icon {
      color: #fff;
    }

    .card {
      background: #1e293b;
      &:hover {
        box-shadow: $cardBoxShadowDark;
      }
    }

    .app-navbar {
      .navbar {
        background: #1e293b;
        color: #fff;
        .btn, a, button {
          color: #fff;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }

    .text-muted, .btn-link {
      color: #fff !important;
    }

    a:focus, .btn:focus, .form-control:focus, .form-check input:focus {
      outline: 2px solid #fff;
    }

    .rich-text-editor {
      background: #475569;
    }

    .dropdown-menu {
      background: $gray-700;
      border: 2px solid #fff;

      button {
        color: #fff;
        &:hover, &:focus {
          background: $gray-900;
        }
      }
    }

    .form-control {
      background: #475569;
      color: #fff;
    }
  }
}